# Container on the rmu-platform Docker network (make docker-run). Copy to .env.docker.
# Requires the infrastructure started from rmu-platform (network rmu-network).
# In the full Compose stack (COMPOSE_PROFILES=infrastructure,apis) these values are injected by
# rmu-platform/compose.yaml and this file is not used.
PORT=3001

RMU_MONGO_CORE_URI=mongodb://admin:admin@rmu-mongo:27017/rmu-core?authSource=admin

RMU_KAFKA_CLIENT_ID=rmu-api-core
RMU_KAFKA_CONSUMER_GROUP_ID=rmu-api-core-consumer
RMU_KAFKA_DEFAULT_PARTITIONS=1
RMU_KAFKA_BROKERS=rmu-kafka-broker:9092

RMU_IAM_JWK_URI=http://rmu-keycloak:8080/realms/rmu/protocol/openid-connect/certs
RMU_IAM_TOKEN_URI=http://rmu-keycloak:8080/realms/rmu/protocol/openid-connect/token
RMU_IAM_CLIENT_ID=rmu-client
RMU_IAM_CLIENT_SECRET=changeit

LOG_LEVEL=debug
